{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage Status</title>
</head>
<body>
    <div>
        <h1 class="test_halo">Halo apa kabar!</h1>
    </div>
    <div class="dflex-center">
        <form method="POST">
            {% csrf_token %}
            {{form.textField}}
            <input type="submit" id="submit_button" class="button" value="Share">
        </form>
    </div>
    <div>
        {% for each_status in status %}
            <div>
                <h3>{{ each_status.textField }}</h3>
                <p>{{ each_status.timeField }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
